<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> سوره سینما 2 </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


        <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../static/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main.css">

        <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/npm.js"></script>
        <script type="text/javascript" src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- <p>Hello world! This is HTML5 Boilerplate.</p>-->
        
			
            <!-- Begin Top Page Container -->
        	
            
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        
     <section class="container-fluid" >
         <header class="row">
            <div id="topPage" class="col-md-12">
                <div id="topPage_container">
                    <form action="#" method="get" style="border:none;" id="topSearchForm">
                        <div id="topSearchField">
                            <div id="rightBox"></div>
                            <div id="middleBox">
                                <input style="color: rgb(210, 215, 221); width: 158px; text-align: center; " name="s" id="searchField" value="جستجو . . ." type="text">
                            </div>
                            <div id="leftBox"></div>
                        </div>
                    </form>
                    <div id="currentDate" class="hidden-xs hidden-sm">
                            شنبه ۲۴ آبان ۱۳۹۳
                    </div>
                </div>
            </div>

            <section id="logoSection" class="gradientBG1">
                <section id="centerHeader" class="row">
                    <section class="col-lg-4 col-md-4 col-sm-6 hidden-xs"style="text-align: center">
                        <img src="../static/img/SourehCinema_Logo_Text.png" style=" padding-top: 60px "/></section>
                    <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="text-align: center">
                        <a href="#"> <img src="../static/img/header.JPG"> </a>
                    </section>
                    <section class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    </section>
                </section>
            </section>
            <section id="menuSection" class="gradientBG2">
                <section id="mainMenuWrapper" class="row">
                    <section class="col-lg-3 col-md-3 hidden-sm hidden-xs"></section>
                    <section class="menuItem inactive col-lg-1 col-md-1 col-sm-2 hidden-xs">
                        <section></section>
                        <img class="txt" src="../static/img/Festival.png">
                    </section>
                    <section class="menuItem inactive col-lg-1 col-md-1 col-sm-2 hidden-xs" style="border-left:solid 2px #efefef;">
                        <section></section>
                        <img class="txt" src="../static/img/Cinema.png">
                    </section>
                    <section class="menuItem inactive col-lg-1 col-md-1 col-sm-2 hidden-xs" style="border-left:solid 2px #efefef;">
                        <section></section>
                        <img class="txt" src="../static/img/Gallery.png">
                    </section>
                    <section class="menuItem inactive col-lg-1 col-md-1 col-sm-2 hidden-xs" style="border-left:solid 2px #efefef;">
                        <section></section>
                        <img class="txt" src="../static/img/News.png">
                    </section>
                    <a href="#" class="col-lg-1 col-md-1 col-sm-2 hidden-xs" style="height:40px;">
                        <section class="menuItem inactive" style="border-left:solid 2px #efefef;">
                            <img class="txt" src="../static/img/Home.png">
                        </section>
                    </a>
                    <section class="col-lg-3 col-md-3 hidden-sm hidden-xs"></section>

                    <section class="visible-xs col-xs-offset-4 hidden-sm hidden-lg hidden-md">
                        <section class="menuItem inactive" style="border-left:solid 2px #efefef;">
                            <section></section>
                            <img class="txt" src="../static/img/Home.png">
                        </section>
                        <section class="menuItem inactive" style="border-left:solid 2px #efefef;">
                            <section></section>
                            <img class="txt" src="../static/img/Festival.png">
                        </section>
                        <section class="menuItem inactive" style="border-left:solid 2px #efefef;">
                            <section></section>
                            <img class="txt" src="../static/img/Cinema.png">
                        </section>
                        <section class="menuItem inactive" style="border-left:solid 2px #efefef;">
                            <section></section>
                            <img class="txt" src="../static/img/Gallery.png">
                        </section>
                        <section class="menuItem inactive" style="border-left:solid 2px #efefef;">
                            <section></section>
                            <img class="txt" src="../static/img/News.png">
                        </section>
                    </section>
                </section>
            </section>
        </header>


         <section id="sec" class="row">

             <article class="col-lg-3 col-md-3 hidden-sm hidden-xs" style="background-color: #333">
                <section id="art">
                    <section><h1> یادداشت </h1></section>
                    <section class="row">
                        <section style="text-align: right" class="col-md-8">
                            <a href="#">طغیان تدریجی بر علیه مهاجمان بر فردیت</a>
                            <p> میثم محمدی </p>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/parviz1-55x55.jpg">
                        </section>
                    </section>

                   <section class="row">
                        <section style="text-align: right; padding-right: 0;" class="col-md-8">
                            <a href="#">مرور کارنامه کارگردان «میهمان داریم» </a>
                            <p> علی رضایی </p>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/asgarpoor2-55x55.jpg">
                        </section>
                    </section>
                </section>

                <section id="art">
                    <section>
                        <h1  style=" background-color: #26a8b7;"><a href="#"> گالری تصاویر </a></h1>
                    </section>
                        <img style="height: 15em; padding: auto ; width: 100%; position: relative;" src="../static/img/Navid-Jamshid-9-150x150.jpg">
                </section>

                <section id="art">
                    <section><h1> گفتگو </h1></section>
                    <section class="row">
                        <section style="text-align: right" class="col-md-8">
                            <a href="#">ماجراهای دو عاشق سینما/ روایت عاشقانه‌ای با رگه‌های اجتماعی</a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/chand-metr-mokaab1-55x55.jpg">
                        </section>
                    </section>

                   <section class="row">
                        <section style="text-align: right; padding-right: 0;" class="col-md-8">
                            <a href="#">افسردگی کارگردان «آخرین ستاره شب»/ وقتی پورمحمدی حامی تولید سریال شد </a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/akharin-setareh-shab1-55x55.jpg">
                        </section>
                    </section>
                </section>

                <section id="art">
                    <section><h1> تیزر و آنونس فیلم </h1></section>
                    <section class="row">
                        <section style="text-align: right" class="col-md-8">
                            <a href="#">جدیدترین تیزر «میهمان داریم»</a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/Mihman-daarim-55x55.jpg">
                        </section>
                    </section>

                   <section class="row">
                        <section style="text-align: right; padding-right: 0;" class="col-md-8">
                            <a href="#">تیزر «میهمان داریم» با صدای ناصر طهماسب </a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/MihmanDarim-55x55.jpg">
                        </section>
                    </section>
                </section>

                <section id="art">
                    <section><h1> تبلیغات </h1></section>
                    <section>
                        <img src="../static/img/HHNews.gif"/>
                        <img src="../static/img/SCOM.gif"/>
                        <img src="../static/img/SPS.gif"/>
                    </section>
                </section>
            </article>

            <section class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <article id="top_art">
                    <section class="row">
                        <section class="col-md-5">
                            <img class="img-responsive" src="../static/img/neshast-mihman1-300x180.jpg">
                        </section>
                        <section class="col-md-7" style="float: right;">
                            <a style="text-align: right; float: right; color: #F24F00" href="#"><h3> مهمان داریم یک فیلم اخلاقگرا است/ نشان دادن حس خانواده <br> در فیلم مهم بود. </h3></a>
                            <p></p>
                        </section>
                    </section>
                    <section>
                        <section style="text-align: right;">
                            <p>«میهمان داریم» اثری ماندگار در سینما/ ایثار و از خودگذشتگی ویژگی مادرانه است
            نگاهی به فیلم «میهمان داریم»/ میهمان‌هایی از جنس نور، امید و زندگی
            وجه عاشقانه و شاعرانه «میهمان داریم» را در نقش کوتاهم می‌بینید
                            </p>
                        </section>
                        <section>
                        </section>
                    </section>
                </article>
                <h4 style="padding-right: 5em; float: right;"> نحوه نمایش خبر </h4>
                <a class="btn btn-lg btn-success Mitra" style="color: #ffffff; margin-top: 1em; margin-left: 3em;" href="/news"> ورود خبر جدید </a>

                <section id="sec_news">

                    {% for n in list1 %}
                    <section class="row" style="text-align: right">
                        <div style="height: 100px" class="col-md-5 col-lg-5">
                            <div style="height: 20px">
                                <span style="color: #0099cc">تاریخ انتشار یا آخرین ویرایش : </span>{{n[2]}}
                            </div>
                            <div style="height: 70px">
                                {{n[1]}}
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div style="height: 70px">
                                <a style="color: #F24F00" href="#">{{n[0]}}</a>

                            </div>
                            <div style="height: 20px">
                                {{n[4]}}
                            </div>
                        </div>
                        <img class="col-md-3 col-lg-3 img-thumbnail img-circle" src="../static/img/{{n[3]}}"/>
                    </section>

                    {% end %}
                    <!--<section>-->
                        <!--<img src="../static/img/hosein-shahabi1.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/IMG15550937.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/Fajr33-Logo1.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/kheradmand1.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/hosein-shahabi1.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/nik-bin.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/behnoosh-tabatabayee.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/mihman-darim11.jpg"/>-->
                    <!--</section>-->
                    <!--<section>-->
                        <!--<img src="../static/img/mahmood-azizi.jpg"/>-->
                    <!--</section>-->
                </section>
            </section>

            <aside class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                    <nav>
                        <ul>
                            <li><a href="#"> آخرین اخبار </a></li>
                            <li><a href="#"> نمایش موضوعی </a></li>
                            <li><a href="#"> نمایش بر اساس </a></li>
                            <li style="height: 200px" ><a href="#"> 99 </a></li>
                        </ul>
                    </nav>
            </aside>
        </section>
         <section class="row hidden-lg hidden-md" style="background-color: #333;">
                 <article>
                    <section id="art">
                    <section><h1> یادداشت </h1></section>
                    <section class="row">
                        <section style="text-align: right" class="col-md-8">
                            <a href="#">طغیان تدریجی بر علیه مهاجمان بر فردیت</a>
                            <p> میثم محمدی </p>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/parviz1-55x55.jpg">
                        </section>
                    </section>

                   <section class="row">
                        <section style="text-align: right; padding-right: 0;" class="col-md-8">
                            <a href="#">مرور کارنامه کارگردان «میهمان داریم» </a>
                            <p> علی رضایی </p>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/asgarpoor2-55x55.jpg">
                        </section>
                    </section>
                </section>

                <section id="art">
                    <section>
                        <h1  style=" background-color: #26a8b7;"><a href="#"> گالری تصاویر </a></h1>
                    </section>
                        <img style="height: 15em; padding: auto ; width: 100%; position: relative;" src="../static/img/Navid-Jamshid-9-150x150.jpg">
                </section>

                <section id="art">
                    <section><h1> گفتگو </h1></section>
                    <section class="row">
                        <section style="text-align: right" class="col-md-8">
                            <a href="#">ماجراهای دو عاشق سینما/ روایت عاشقانه‌ای با رگه‌های اجتماعی</a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/chand-metr-mokaab1-55x55.jpg">
                        </section>
                    </section>

                   <section class="row">
                        <section style="text-align: right; padding-right: 0;" class="col-md-8">
                            <a href="#">افسردگی کارگردان «آخرین ستاره شب»/ وقتی پورمحمدی حامی تولید سریال شد </a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/akharin-setareh-shab1-55x55.jpg">
                        </section>
                    </section>
                </section>

                <section id="art">
                    <section><h1> تیزر و آنونس فیلم </h1></section>
                    <section class="row">
                        <section style="text-align: right" class="col-md-8">
                            <a href="#">جدیدترین تیزر «میهمان داریم»</a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/Mihman-daarim-55x55.jpg">
                        </section>
                    </section>

                   <section class="row">
                        <section style="text-align: right; padding-right: 0;" class="col-md-8">
                            <a href="#">تیزر «میهمان داریم» با صدای ناصر طهماسب </a>
                        </section>
                        <section class="col-md-4">
                            <img src="../static/img/MihmanDarim-55x55.jpg">
                        </section>
                    </section>
                </section>

                <section id="art">
                    <section><h1> تبلیغات </h1></section>
                    <section>
                        <img src="../static/img/HHNews.gif"/>
                        <img src="../static/img/SCOM.gif"/>
                        <img src="../static/img/SPS.gif"/>
                    </section>
                </section>
                </article>
         </section>
         <footer>
            <section id="topFooter">
                <section class="container row">

                    <section class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                        <nav id="socialNav" >
                            <ul>
                                <li class="twitter"><a class="bgAnim" href="#"></a></li>
                                <li class="facebook"><a class="bgAnim" href="#"></a></li>
                                <li class="digg"><a class="bgAnim" href="#"></a></li>
                                <li class="vimeo"><a class="bgAnim" href="#"></a></li>
                                <li class="youtube"><a class="bgAnim" href="#"></a></li>
                                <li class="skype last-child"><a class="bgAnim" href="#"></a></li>
                            </ul>
                        </nav>
                    </section>

                    <section class="col-lg-9 col-md-9 col-sm-12 hidden-xs">
                        <nav id="footerNav" >
                            <ul>
                                <li><a href="#">خانه</a></li>
                                <li><a href="#">آرشيو اخبار</a></li>
                                <li><a href="#">گالری تصاوير</a></li>
                                <li><a href="#">تيزرهای تصويری</a></li>
                                <li><a href="#">نظرسنجی</a></li>
                                <li class="hidden-sm"><a href="#">لينکستان</a></li>
                                <li class="hidden-sm"><a href="#">معرفی پايگاه</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </nav>
                    </section>
                    <section class="visible-xs">
                        <nav id="footerNav" >
                            <ul>
                                <li style="clear: both"><a href="#">خانه</a></li>
                                <li style="clear: both"><a href="#">آرشيو اخبار</a></li>
                                <li style="clear: both"><a href="#">گالری تصاوير</a></li>
                                <li style="clear: both"><a href="#">تيزرهای تصويری</a></li>
                                <li style="clear: both"><a href="#">نظرسنجی</a></li>
                                <li style="clear: both"><a href="#">لينکستان</a></li>
                                <li style="clear: both"><a href="#">معرفی پايگاه</a></li>
                                <li style="clear: both"><a href="#">تماس با ما</a></li>
                            </ul>
                        </nav>
                    </section>

                <section style="clear:both"></section>

                <section id="contactInfo">
                        <ul>
                            <li class="addressInfo"> همین دور وبر میباشد بگرد پیداش می کنی. </li>
                            <li class="phoneInfo">123456789</li>
                            <li class="emailInfo"><a href="mailto:info@usernsme.ir">info@usernsme.ir</a></li>
                        </ul>
                </section>
                </section>

            </section>

            <section id="bottomFooter">
                <section class="container">
                    <nav id="footerNav" class="clearfix hidden-xs">
                        <ul>
                            <li><a href="#">۱۳۹۳ &copy; پايگاه خبری تحلیلی سوره سینما </a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                            <li><a href="#">قوانین سایت</a></li>
                        </ul>
                    </nav>
                    <nav id="footerNav" class="clearfix visible-xs">
                        <ul>
                            <li style="clear: both;"><a href="#">۱۳۹۳ &copy; پايگاه خبری تحلیلی سوره سینما </a></li>
                            <li style="clear: both;"><a href="#">حریم خصوصی</a></li>
                            <li style="clear: both;"><a href="#">قوانین سایت</a></li>
                        </ul>
                    </nav>
                </section>
            </section>
        </footer>
     </section>
</body>
</html>
