<!DOCTYPE html>
<html>
<head>
    <title> ورود </title>
    <link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">
</head>
<body class="container">
<section class="row">&nbsp;</section>
<section class="row">&nbsp;</section>
<section class="row">&nbsp;</section>
<section class="row">&nbsp;</section>

<section class="row" dir="rtl">
    <section class="col-md-4 col-md-offset-4 ">
        <h3 class="Yekan" style="color:#2233dd">ورود</h3>
        <form method="post" >

              <div class="form-group">
                  <label for="user" class="control-label Mitra" >نام کاربری :</label>
                  <input type="text" name="user" id="user" value="" placeholder=" نام کاربری ..." class="form-control" />
              </div>

              <div class="form-group">
                  <label for="password" class="control-label Mitra" >کلمه عبور :</label>
                  <input type="password" name="password" id="password" value="" placeholder="کلمه عبور ..." class="form-control" />
              </div>

            <a type="button" class="btn btn-primary Yekan" href="/"  >انصراف</a>
            <input type="submit" class="btn btn-primary Yekan" value="ورود">
        </form>
    </section>
</section>


</body>
</html>