<!DOCTYPE html>
<html>
<head><title> ویرایش خبر </title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body style="direction:rtl">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3 class="Yekan" style="color:#2233dd">ویرایش خبر : </h3>
          <form enctype="multipart/form-data" method="post" action="/news/edit/{{news.id}}">

              <div class="form-group">
                  <label for="news-id" class="control-label Mitra" >شناسه خبر : </label>
                  <input type="text" name="news-id" id="news-id" value="{{news.id}}"  class="form-control" readonly="readonly" />
              </div>

              <div class="form-group">
                  <label for="news-title" class="control-label Mitra" >عنوان خبر :</label>
                  <input type="text" name="news-title" id="news-title" value="{{news.title}}"  class="form-control" />
              </div>

              <div class="form-group">
                  <label for="news-body" class="control-label Mitra" >متن خبر :</label>
                  <input type="text" name="news-body" id="news-body" value="{{news.body}}" class="form-control" />
              </div>

              <!--<div class="form-group">-->
                  <!--<label for="news-date" class="control-label Mitra" >تاریخ انتشار :</label>-->
                  <!--<input type="date" name="news-date" id="news-date" value="{{news.date}}" class="form-control" />-->
              <!--</div>-->

              <div class="form-group">
                  <label for="news-img" class="control-label Mitra" >ارسال عکس خبر :</label>
                  <input type="file" name="news-img" id="news-img" />
              </div>


        <input type="submit" class="btn btn-primary Yekan" value="ذخیره تغییرات" >
          </form>
    </div>
</div>

</body>
</html>